:root {
	--myblue: #2b3a67;
	--mybluelighter: #2b3a679d;
	--myorange: #e55934;
	--mygrey: #e0e2db;
	--mypurple: #d63af9;
	--mypetrol: #668586;
}

/* ------ HEADER & FOOTER ------ */

/* - HEADER -*/
.header {
	background-color: var(--myblue);
	max-height: 5%;
}
.headerElement {
	height: 100%;
	background-color: var(--myblue);
	color: var(--mygrey);
}
.headerElementText {
	color: var(--mygrey);
}

.footer {
	background-color: var(--myblue);
}

.footerTableBody {
	color: var(--mygrey);
	margin-top: 2%;
}

.footerTable {
	margin-top: 6%;
}

.footerLogo {
	margin-top: 2%;
	margin-bottom: 3%;
	margin-left: 3%;
}

.footerInfo {
	color: var(--mygrey);
	margin-left: 3%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 2%;
}
